
<button name="home" id="button" class="home" element onclick="parent.location.href='/'">
   Home
</button>

<button name="movies" id="button" class="movies" onclick="parent.location.href='/movies'">
   Movies
</button>

<button name="music" id="button" class="music" onclick="parent.location.href='/music'">
   Music
</button>

<button name="photos" id="button" class="music" onclick="parent.location.href='/photos'">
   Photos
</button>
