
<button name="movies" id="navbutton" class="movies" onclick="parent.location.href='/movies'">
   Movies
</button>

<button name="music" id="navbutton" class="music">
   Music
</button>

<button name="photos" id="navbutton" class="music" onclick="parent.location.href='/photos'">
   Photos
</button>

<button name="logout" id="navbutton" class="logout" element onclick="parent.location.href='/logout'">
   Logout
</button>

<!-- <ul id="drop-nav">
  <li><a >{{username}}</a>
    <ul>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Admin</a></li>
      <li><a href="/">Logout</a></li>
      <li><a href="#">Help</a></li>
	</ul>
  </li>
</ul> -->
