
<button name="home" id="navbutton" class="home" element onclick="parent.location.href='/'">
   Home
</button>

<button name="movies" id="navbutton" class="movies" onclick="parent.location.href='/movies'">
   Movies
</button>

<button name="music" id="navbutton" class="music">
   Music
</button>

<button name="photos" id="navbutton" class="music" onclick="parent.location.href='/photos'">
   Photos
</button>
