
<div class = "Content">
   <div class = "display_items>
      {{#each feed}}
      <div class = "item_container">
         <div class = "item_image">
            <img src= "{{this.image}}" />
         </div>
         <div class = "date_stamp">
            {{this.date_stamp}}
         </div>
      </div>
      {{/each}}
   </div>
</div>
