
<div class = "Content">
   <div class = "display_items>
      {{#each direct}}
	  <div class = "item_container">
         <div class = "item_image">
            <img src= 'https://lh5.ggpht.com/Iy2SF6C-E54bW_AwwPfymQ__MqQgx_iPRnVjvsgI0BbXA3FFiJDU6R6EcqXAZQ9iviRT=w170' />
         </div>
         <div class="hover-text">
            Click to view contents
         </div>
         <div class = "date_stamp">
            {{this}}
         </div>
      </div>
	  {{/each}}

      {{#each feed}}
      <div class = "item_container">
         <div class = "item_video">
            <img src= "{{this.video}}" />
         </div>
         <div class = "vid_title">
            {{this.vid_title}}
         </div>
      </div>
      {{/each}}
   </div>
</div>
