<h1>Welcome to The MediaServer!</h1>

<p></p><p></p>

{{#if message}}
	<p>
		{{message}}
	</p>
{{/if}}

<button name="Signin" style="width: 100px" id= "navbutton" onclick= "parent.location.href='/login'">Sign in</button>
<p>
<button name="Signup" style="width: 100px" id= "navbutton" onclick= "parent.location.href='/newuser'">Sign up</button>
