<div class="navbar">
	{{> navbar }}
</div>

<div class="main">
   <div class = "Main_Content">
      {{#if message}}
	     {{message}}
	  {{/if}}
      <div class = "display_items">
         {{#each feed}}
         <div class = "item_container">
            <div class = "item_image">
               <img src= "http://findicons.com/files/icons/1261/sticker_system/128/movie.png" />
            </div>
		    <form class="" action="/movies/watch" method="post">
		       <input type="hidden" name="item" value="{{this.fileName}}">
               <input type="submit" name="submit" class="hover-text" value="Click to Watch" >
            </form>
            <div class = "vid_title">
               {{this.title}}
            </div>
         </div>
         {{/each}}
      </div>
   </div>
</div>

<div class="footer">
   <div class="upload">
      Upload a new File
      <form id="uploadForm" enctype="multipart/form-data" action="upload" method="post">
         Title
         <input type="text" name="title" placeholder="Title">
         <input type="file" name="userVideo" >
         <input type="submit" value="Upload Video" name="submit">
      </form>
   </div>
</div>

