<div class="navbar">
	{{> navbar }}
</div>


<div class="content">
   <div class="playerBox">
      <form class="" action="/movies" method="post">
         <input type="hidden" name="pathToFile" value="">
         <input type = "submit" id="navbutton" style="width:125px" name="submit" value="Return to Browse">
	  </form>
   <p><p><p><p>
   <h2> {{title}} </h2>
   <p><p>
      <video class="videoPlayer" src="{{source}}" controls> </video>
   </div>
</div>