<div class="navbar">
	{{> navbar }}
</div>


<div class="content">
   <div class="playerBox">
      <button id="navbutton" style="width:125px" onclick= "parent.location.href='/movies'">Back to Dash</button>
   <p><p><p><p>
   <h2> {{item.title}} </h2>
   <p><p>
      <video class="videoPlayer" src="{{source}}" controls> </video>
   </div>
</div>
