@charset "UTF-8";
@CHARSET "ISO-8859-1";



body{
// 	background-color: #008080;
   background-color: #F5F5F5;
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.content{
	float: left;
	width: 100%;
	height: 100%;
	padding-top: 15px;
}

/* navbar layouts */

#navbutton {
   border: 2px solid black;
   border-radius: 0px;
   height: auto;
   width: 25%;
   margin: 5px 5px 5px 5px;
   padding-left: 5px;
   vertical-align: middle;
   background-color: lightgray;
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
   flex: 2 1;
   -webkit-flex: 2 1;
}

#navbutton:hover, #navbutton:focus{
   animation-duration: 1.0s;
   animation-iteration-count: 1;
/*   background-color: #004482; */
   background-color: #008080;
   color: white;
   flex: 2 1;
   -webkit-flex: 2 1;
}

.navbar {
   display: flex;
   display: -webkit-flex;
   flex-direction: row;
   margin-left: 20%;
   margin-right: 20%;
}

/*   ul {list-style: none;padding: 0px;margin: 0px;}
  ul li {display: block;position: relative;float: left;}
  li ul {display: none;}
  ul li a {display: block;background: #000;padding: 5px 10px 5px 10px;text-decoration: none;
           white-space: nowrap;color: #fff;}
  ul li a:hover {background: #f00;}
  li:hover ul {display: block; position: absolute;}
  li:hover li {float: none;}
  li:hover a {background: #f00;}
  li:hover li a:hover {background: #000;}
.drop-nav li ul li {
	float: right;
} */


/* Footer Layout */

.footer{
	flex-direction: column;
	padding-top: 1.5cm;
	width: 100%;
	height: auto;
	bottom: 0px;
}

.upload{
	position: relative;
	padding: 25px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid gray;
}

.uploadForm{
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid gray;
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}


/* Individual Results */

.Main_Content{
	width: 100%;
	height: 100%;
	padding-top: 15px;
}

.display_items{
	overflow: auto;
	padding-left: 1.5cm;
	padding-right: 1.5cm;
}

.item_container{
	position: relative;
	float: left;
	display: flex;
	flex-direction: column;
	margin-left: 15px;
	margin-top: 25px;
	border: 2px solid gray;
	background-color: #00827F;
}

.item_image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.item_image > img{
	max-height: 250px;
	margin: 5px 5px 5px 5px;
}

.item_container .hover-text{
	text-align: center;
	vertical-align: middle;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0;
	transition: opacity;
}

.hover-text{
	background-color: rgba(0, 0, 0, 0.4);
	padding: 5px 5px 5px 5px;
	color: white;
	display: table;
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}

.item_container:hover .hover-text{
	opacity: 1;
	transition-duration: 1s;
}

.date_stamp {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* videoPlayer */

.playerBox {
	
}

.videoPlayer {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid black;
}

/* new User Layouts */


.newuserbox {
	display: block;
	border:	border: 5px solid black;
}

/* font-family, containers, colors,  */